body {
    /* Source: https://uigradients.com */
    background: #3a7bd5;
    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);
    background: linear-gradient(to right, #3a6073, #3a7bd5);
}
   
button[name='submit'] {
  background-color: rgba(17, 77, 243, 0.774);
}

  #bord{ 
    background-color:gray ; height: 400; width: 200;
}

#wht{
    color: white
}

#grid{
    background-color:rgba(128, 128, 128, 0.568); height: 200px; width:200px ;columns: 4; 
}

#totalChange{
    height: 50px; width:100; background-color: rgb(36, 128, 0);
}


